<div class="about-page">
  <!-- Hero Section -->
  <div class="about-hero">
    <div class="hero-content">
      <h1>About NotesApp</h1>
      <p>
        At <strong>NotesApp</strong>, we believe in simplifying productivity. We offer an intuitive,
        secure, and feature-rich platform for managing your ideas, tasks, and projects across
        devices.
      </p>
      <button pButton [routerLink]="['/notes']" label="Get Started" class="p-button-raised p-button-primary"></button>
    </div>
  </div>


  <div class="mission-section">
    <p-card class="mission-card">
      <div class="mission-header">
        <h2>Our Mission</h2>
      </div>
      <div class="mission-content">
        <p>
          We strive to empower individuals and teams with tools that enhance creativity and
          organization while ensuring ease of use and security.
        </p>
      </div>
    </p-card>
  </div>

  <!-- Meet the Team -->
  <div class="team-section">
    <h3>Meet Our Team</h3>
    @defer (on viewport) {
      <div class="team-grid">
        <p-card class="team-card" header="John Doe" subheader="Founder & CEO">
          <img src="./assets/johndoe.webp" alt="John Doe" class="team-photo"/>
          <p>John is the visionary with over a decade of leadership in tech
            innovation.</p>
        </p-card>

        <p-card class="team-card" header="Jane Smith" subheader="CTO">
          <img src="./assets/janesmith.webp" alt="Jane Smith" class="team-photo"/>
          <p>Jane specializes in creating secure and scalable solutions that power the app.</p>
        </p-card>

        <p-card class="team-card" header="Emily Brown" subheader="Lead Designer">
          <img src="./assets/emilybrown.webp" alt="Emily Brown" class="team-photo"/>
          <p>Emily ensures NotesApp is both beautiful and user-friendly for our global users.</p>
        </p-card>
      </div>
    } @placeholder (minimum 500ms) {
      <p-progressSpinner></p-progressSpinner>
    }
  </div>
</div>
