<p-card class="note-card" [styleClass]="note().isPinned ? 'pinned' : ''">
  <ng-template pTemplate="header">
    <div class="note-header">
      <h3>{{ note().name }}</h3>
      <span class="note-date">Modified at  {{ note().updatedAt | date: 'medium' }}</span>
    </div>
  </ng-template>

  <div class="note-content">
    <p>{{ note().content }}</p>
  </div>

  <ng-template pTemplate="footer">
    <div class="note-footer">
      <div class="note-tags">
        @for (tag of note().tags; track $index) {
          <p-tag [value]="tag" styleClass="tag"></p-tag>
        }
      </div>
      <div class="note-actions">
        <button
          pButton
          icon="pi pi-thumbtack"
          class="p-button-rounded"
          title="Pin Note"
          [class.p-button-warning]="note().isPinned"
          [class.p-button-secondary]="!note().isPinned"
          (click)="togglePinned($event)"
        ></button>
        <button
          pButton
          icon="pi pi-cog"
          class="p-button-rounded p-button-info"
          title="Edit Note"
          (click)="handleEdit($event)"
        ></button>
        <app-delete-button (click)="$event.stopImmediatePropagation()" (onConfirm)="handleDelete()" />
      </div>
    </div>
  </ng-template>
</p-card>
