<div class="notes-page">
  <div class="actions">
    <button pButton label="Create Note" icon="pi pi-plus" class="p-button-success"
            (click)="createNewNote()"></button>
  </div>

  @if (noteStore.loading) {
    <p-progressSpinner />
  } @else if (!noteStore.error && notes()) {
    <app-note-list [notes]="notes()!" (edit)="openEditDialog($event)"></app-note-list>
  } @else {
    <p>An error occurred: {{ noteStore.error }}</p>
  }

  <app-modal [(visible)]="showDialog"
             (onConfirm)="showDialog.set(false)">
    <app-note-form (formSubmit)="saveNote($event)" [initialData]="selectedNoteToEdit()"/>
  </app-modal>

</div>
