<div class="notes-page">
  <div class="actions">
    <button pButton label="Create Note" icon="pi pi-plus" class="p-button-success"
            (click)="createNewNote()"></button>
  </div>

  <app-loading-content-wrapper [isLoading]="isLoading()" [error]="error()"
                               [hasData]="notes().length > 0"
                               errorFallbackText="An error occurred: {{ error() }}">
    <app-note-list [notes]="notes()!" (edit)="openEditDialog($event)"></app-note-list>
  </app-loading-content-wrapper>

  <app-modal [(visible)]="isDialogShown">
    <app-note-form (formSubmit)="saveNote($event)" [initialData]="selectedNoteToEdit()"/>
  </app-modal>

</div>
